@media only screen and(max-width: 768px) {
    .please-align-vertically{
        display: flex;
        align-items: center;
        height: 100%;
        height: 100vh;}
}
body{
    background-color: #E1E7F0;
}